header {
  width: 980px;
  height: 140px;
  background-color: #0D7962;
  color: #fff;
  margin: auto;
  border-radius: 10px;
  border: solid 2px blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}
main {
  width: 980px;
  height: 450px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 600;
}
aside {
  width: 270px;
  height: 450px;
  border-radius: 10px;
  background-color: #0D7962;
  color: #fff;
  border: solid 2px rgb(95, 226, 43);
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  width: 690px;
  height: 450px;
  border-radius: 10px;background-color: #0D7962;
  color: #fff;
  border: solid 2px rgb(95, 226, 43);
  float: right;display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  width: 980px;
  height: 70px;
  background-color: #0D7962;
  color: #fff;
  margin: auto;
  border-radius: 10px;
  border: solid 2px rgb(226, 43, 202);
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}